{{ define "content"}}
<h2>About</h2>
    <p>This webapp is written in Golang and powered by the Chess.com public APi. Games are displayed using the Chess Tempo embeddable PGN Viewer I am a solo amateur developer with no professional coding experience. That is to say, expect bugs, issues, and downtime!</p>
    <p>The code for this webapp is available on <a href="https://github.com/mmnessim/Go-Chess-Picker" target="_blank">Github</a>. It is still largely in development, but consider this a proof of concept.</p>
    <h3>TODO</h3>
    <ul class="list-group">
        <li class="list-group-item">
            Responsive design for mobile
        </li>
        <li class="list-group-item">
            Better "About" page
        </li>
        <li class="list-group-item">
            More complete user database
        </li>
        <li class="list-group-item">
            Migrate database to something more permanent
        </li>
        <li class="list-group-item">
            Evaluate user guesses and provide feedback/score
        </li>
        <li class="list-group-item">
            Sessions with individualized game history (maybe with user login)
        </li>
        <li class="list-group-item">
            Complete style overhaul
        </li>
    </ul>
{{ end }}
