{{define "content"}}
<!-- Who knows if this needs to be here? -->
{{ if .Err }}
<p>Error</p>
{{ else }}
    <div>
        <h1>
            {{ .White.Username }} ({{ .White.Rating }} ELO) vs
            {{ .Black.Username }} ({{ .Black.Rating }} ELO)
        </h1>
        <a href="/game?username={{ .User.Username }}" class="btn">Another!</a>
        <a href="/" class="btn">Choose another user</a>
        <h2> White {{ .White.Result }} Black {{ .Black.Result }}</h2>
        <a href="{{ .Url }}" target="_blank">Go Analyze on Chess.com</a>
        <ct-pgn-viewer>
            {{ .Pgn }}
        </ct-pgn-viewer>
    </div>
    {{end}}
{{end}}
