{{define "content"}}
{{ if .Game.Err }}
<p>Error</p>
{{ else }}
    <div>
        <h1>
            White: {{ .Game.White.Username }} ({{ .Game.White.Rating }} ELO) vs
            Black: {{ .Game.Black.Username }} ({{ .Game.Black.Rating }} ELO)
        </h1>
        <h2> White {{ .Game.White.Result }} Black {{ .Game.Black.Result }}</h2>
        <a href="/game?username={{ .Username }}" class="btn">Another!</a>
        <a href="/" class="btn">Choose another user</a> <br />
        <a href="{{ .Game.Url }}" target="_blank" class="btn">Go Analyze on Chess.com</a>
        <ct-pgn-viewer>
            {{ .Game.Pgn }}
        </ct-pgn-viewer>
        <!--
        <div>
            <p>Previous games</p>
            {{ range $i, $a := .History }}
                <a href="/history?id={{ $a.ID }}">{{ $a.White.Username }} vs
                    {{ $a.Black.Username }}</a>
            {{end}}
        </div>
        -->
    </div>
    {{end}}
{{end}}
