{{define "content"}}
{{ if .Game.Err }}
<p>Error</p>
{{ else }}
    <div>
        <h1>
            White: {{ .Game.White.Username }} ({{ .Game.White.Result }}) vs
            Black: {{ .Game.Black.Username }} ({{ .Game.Black.Result }})
        </h1>
        <h2>Guess the average rating of these players</h2>
        <div>
            <input type="text" placeholder="average elo" id="user_guess"></input>
            <button onclick="showElo()" class="btn">Guess!</button>
            <h3 id="elo" style="display: none;">White ELO <span id="white-rating">{{ .Game.White.Rating }}</span>
                Black ELO <span id="black-rating">{{ .Game.Black.Rating }}</span></h3>
            <h3 id="average-rating" style="display: none;">Average rating: </h3>
        </div>

        <a href="/guess" class="btn">Another!</a>
        <a href="{{ .Game.Url }}" target="_blank" class="btn">Go Analyze on Chess.com</a>
        <ct-pgn-viewer>
            {{ .Game.Pgn }}
        </ct-pgn-viewer>
        <!--
        <div>
            <p>Previous games</p>
            {{ range $i, $a := .History }}
                <a href="/history?id={{ $a.ID }}">{{ $a.White.Username }} vs
                    {{ $a.Black.Username }}</a>
            {{end}}
        </div>
        -->
    </div>

    <script>
        function showElo() {
            var h3 = document.getElementById("elo");
            h3.style.display = "block";
            const blk = Number(document.getElementById("black-rating").innerText);
            const wht = Number(document.getElementById("white-rating").innerText);
            average(blk, wht);
        }
        function average(black, white) {
            const avg = (black + white) / 2;
            var element = document.getElementById("average-rating");
            element.style.display = "block";
            element.innerText = "Average rating: " + avg;
        }
    </script>
    {{end}}
{{end}}
